body {
    background-image: url("../images/back3.jpg");
    background-size: 100%;
    z-index: 1;
    }

.navbar {
    color: aliceblue;
    }

.container {
    color: aliceblue;
    }


@keyframes gradient {
    0% {
      background-position: 50%, 50%;
      background-size: 150%, 100px auto;
    }
    25% {
      background-position: 0, 50%;
    }
    50% {
      background-size: 400%, 100px auto;
    }
    75% {
      background-position: 100%, 50%;
    }
    100% {
      background-position: 50%, 50%;
      background-size: 150%, 100px auto;
    }
  }